#root {
  max-width: 1280px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.catDiv {
  margin-left: 5%;
}
.catDiv:hover {
  filter: drop-shadow(0 0 2em #7feb5baa);
}
.catDiv img {
  height: 15rem;
  width: auto;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.ticker-data {
  display: flex;
  justify-content: center;
}
.chartLink {
  display: flex;
  justify-content: center;
}
@keyframes colorChange {
  0% {
    color: #5398ed;
  }
  50% {
    color: #444cf6;
  }
  100% {
    color: #646cff;
  }
}

.chart {
  animation: colorChange 3.5s infinite;
  position: relative;
}
.news-image {
  width: 68%;
}
.tickerNews-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.ticker-news {
  padding-left: 20px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
}
